@model LoginModel
<h2>Inloggning för Småstads personal</h2>
<p class="info">En säker tjänst från Småstads IT-avdelning</p>

<form method="post" asp-controller="Home" asp-action="Login">
	<p>
		<input type="hidden" name="isSubmitted" value="true" />
		<input type="hidden" asp-for="ReturnUrl" value="@Model.ReturnUrl" />
	</p>
	<p>
		<span asp-validation-for="UserName" class="label">Användarnamn:</span><br />
		<input asp-for="UserName" type="text"/>
	</p>
	<p>
		<span asp-validation-for="Password" class="label">Lösenord:</span><br />
		<input asp-for="Password" type="password"/>
	</p>
	<p>
		<input class="button" type="submit" value="Log in" />
	</p>
	<div asp-validation-summary="All"></div>
</form>