@model UpdateErrandManagerViewModel
@{
    bool noAction = false;
    if (ViewBag.StatusId == "S_B")
    {
        noAction = true;
    }
}

<h2>Detaljer för ärendet</h2>
<p class="info">Du är inloggad som avdelningschef</p>

@await Component.InvokeAsync("ShowOneErrand", ViewBag.ErrandID)

<section id="bottomColumn">
	<h3>Redigera ärende</h3>
	<form asp-controller="Manager" asp-action="UpdateErrand" method="post">
        <p>
            Ange handläggare:
            <select asp-for="EmployeeId" asp-items="@(new SelectList(ViewBag.ListOfEmployees, "EmployeeId", "EmployeeName"))">
                <option selected="selected">Välj</option>
            </select>
        </p>
        <p>
            <input type="checkbox" asp-for="NoAction" value="true" checked="@noAction" /> Ingen åtgärd:
            <input type="text" asp-for="Reason" />
        </p>
        <p><input class="button" type="submit" value="Spara" /></p>
	</form>

</section>